# This unit file is part of the etrial package.
# 
# This unit is executed by gocryptfs-lock.path.

[Unit]
Description=encrypted storage lock

[Service]
Type=oneshot
ExecStart=rm /tmp/crypt.lock
ExecStart=systemctl stop gocryptfs
