[Unit]
Description=etrial flask app running in gunicorn
Requires=nginx.service
After=network.target

[Service]
WorkingDirectory=/var/lib/etrial
ExecStartPre=-useradd -m etrial
ExecStartPre=-mkdir -p /home/etrial/files
ExecStartPre=-chown etrial:etrial /home/etrial/files
ExecStart=/usr/bin/gunicorn --user etrial --reload \
  --reload-extra-file templates/base.html  \
  --reload-extra-file templates/documents.html  \
  --reload-extra-file templates/log.html  \
  --reload-extra-file templates/settings.html  \
  app:app

[Install]
WantedBy=multi-user.target
