LogLevel DEBUG

Port 7937

PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitTunnel no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

Subsystem sftp /usr/lib/ssh/sftp-server
ChrootDirectory /jails/%u
ForceCommand internal-sftp
