LogLevel VERBOSE

PubkeyAuthentication yes
PasswordAuthentication no
PermitTunnel no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile	%h/.ssh/authorized_keys

Subsystem	sftp	/usr/lib/ssh/sftp-server

Match User judge
ForceCommand internal-sftp
ChrootDirectory /secure/judge

Match User jury
ForceCommand internal-sftp
ChrootDirectory /secure/jury

Match User witness
ForceCommand internal-sftp
ChrootDirectory /secure/witness
