* { margin: 0; padding: 0; font-family: sans-serif }

nav#menu {
  display: flex; align-items: top; height: 3em;
  border-bottom: 1px #e1d1f0 solid
}

nav#submenu { display: flex; height: 3em; margin-bottom: -3em }
nav#submenu a { font-weight: normal; border-bottom: 1px #e1d1f0 solid }
nav#submenu a:first-child { margin-left: auto; border-left: 1px #e1d1f0 solid }

section { margin: 2em 3em }

footer {
  padding: 1em; border-top: 1px #e1d1f0 solid;
  font-size: 0.7em; text-align: right
}

nav h1 { margin-right: auto }
nav a { height: 100%; padding: 0 1em; display: flex; align-items: center }
nav a:hover { background: #e1d1f0 }
nav a.current, nav a.current:visited { background: #3a0870; color: white }
nav a, nav a:visited { color: #3a0870; font-weight: bold; text-decoration: none }

p, h2, table, form { margin-bottom: 1em }

section > nav { display: flex; margin-bottom: 1em }
section > nav .query { flex: 1 }
section > nav .filter { display: flex; align-items: center }
section > nav .filter input { height: 1.2em }
section > nav .filter .emoji { font-size: 1.5em }

section table { width: 100%; padding: 1em; border-collapse: collapse }
section table td, section table th { border: 1px #ccc solid; padding: 0.5em; }

section table td.with-button { border-right: none }
section table td.with-button + td { border-left: none }

section table .delete { text-align: center }

section table .identifier { white-space: nowrap }

section table .tooltip { position: relative; cursor: pointer }
section table .tooltip:hover { background: #e1d1f0; transition: background 0.3s ease-out }
section table .tooltip:hover .tip {
  opacity: 0.9; transition: opacity 0.3s ease-out;
  z-index: 1; cursor: auto
}
section table .tooltip .tip {
  z-index: -1; min-height: 100%;
  padding: 1em;
  color: black; font-size: 0.9em; font-weight: normal;
  background: #e1d1f0; 
  opacity: 0; transition: opacity 0.3s ease-out;
  position: absolute; top: 0; left: 100%
}

section table .published, section table .unpublished { width: 4.5em; text-align: center }
section table .published { background: #3a0870 }
section table .published:hover::after { content: 'recall?'; font-size: 0.8em; color: white; cursor: pointer }
section table .unpublished:hover { background: #e1d1f0 }
section table .unpublished:hover::after { content: 'publish?'; font-size: 0.8em; cursor: pointer }

footer table { margin-left: auto }
footer table td { text-align: left; padding-left: 0.2em }

button { margin: 0.2em }
code { font-family: monospace }

.emoji { font-size: 2em; margin: 0 0.2em -0.1em 0 }

#highlight { 
  position: absolute; z-index: -1; opacity: 0;
  background: white; width: 100%; height: 100%
}
#highlight.active { opacity: 0.5; z-index: 0 }

#notifications ul { list-style-type: none; padding: 0 }
#notifications .progress {
  width: 0;
  background: #087316;
  height: 1em
}
