<!doctype html>
<head>
  <title>{% if casename %}{{casename}} {% endif %}⚖️ {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

  <nav id="menu">
    <h1>
      <a href="/">e-trial manager</a>
    </h1>
    <a href="/documents"{% if request.path == "/documents" %} class="current"{% endif %}>
      <div class="emoji">📖</div>
      <div class="text">Documents</div>
    </a><a href="/log"{% if request.path == "/log" %} class="current"{% endif %}>
      <div class="emoji">📃</div>
      <div class="text">Log</div>
    </a><a href="/settings"{% if request.path == "/settings" %} class="current"{% endif %}>
      <div class="emoji">⚙️</div>
      <div class="text">Settings</div>
    </a>
  </nav>

  {% block submenu %}
  {% endblock %}

  <section id="{{ request.path[1:] }}">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul id="flashes">
    {% for category, msg in messages %}
    <li class="{{ category }}">{{ msg.message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
  </section>

  <footer>
    <table>
      <tr>
        <th>Current time</th>
        <td>{{ g.now }}</td>
      </tr>
      <tr>
        <th>User</th>
        <td>{{ user }}</td>
      </tr>
      <tr>
        <th>Secure volume status</th>
        <td>Decrypted at some date or time</td>
      </tr>
      <tr>
        <th>Backup status</th>
        <td>Replicated to somewhere at some date or time</td>
      </tr>
    </table>
  </footer>

  <script type="text/javascript" src="/static/ui.js"></script>

</body>
</html>
