{% extends "base.html" %}
{% from "macros.html" import matrix_row %}
{% block title %}Documents{% endblock %}
{% block page_class %}documents{% endblock %}
{% block content %}

<div id="drag-drop-overlay"><p>Drop documents here to upload ...</p></div>

<nav>
<div class="query">Showing <select>
  <option>all documents</option>
</select> ordered by <select>
  <option>identifier</option>
  <option>upload time</option>
  <option>title</option>
</select></div>
<div class="filter"><div class="emoji">🔍</div><input placeholder="Quick filter &hellip;"></div>
</nav>

<table id="documents">
  <thead>
    <tr>
      <th colspan="2" class="sort{% if sort.field == 'identifier' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=identifier{% if not sort.reverse %}&reverse{% endif %}"> 
          Identifier</a></th>
      <th colspan="2" class="sort{% if sort.field == 'title' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=title{% if not sort.reverse %}&reverse{% endif %}"> 
          Title</a></th>
      <th class="sort{% if sort.field == 'added' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=added{% if not sort.reverse %}&reverse{% endif %}"> 
          Added</a></th>
      <th class="rotate">Judge</th>
      <th class="rotate">Jury</th>
      <th class="rotate">Witness</th>
      <th class="rotate">Delete</th>
    </tr>
  </thead><tbody>
  {% for row_hash, row_data in documents %}
    <tr data-rowId="{{ row_hash }}">
      <td class="identifier tooltip">
        <div class="tip">{{ row_hash }}</div>
        <code>{{row_hash|truncate(9)|safe}}</code>
        <strong>{{ row_data.identifier }}</strong>
      </td><td class="matrix edit">edit or assign</td>
      <td data-col="title">
        <a href="/store/{{ hash }}">{{ row_data.title }}</a>
      </td><td class="matrix edit">edit</td>
      <td class="added">
        <span class="date">{{ row_data.added | localise | long_date }}</span><br>
        <span class="time">{{ row_data.added | localise | long_time }}</span>
        <span class="tz">{{ row_data.added | localise | tz }}</span>
      </td>
      {{ matrix_row('documents', row_hash, row_data.status) }}
    </tr>
  {% endfor %}
  {% if not documents %}
  <tr id="placeholder-row"><td colspan="9">
    You haven't uploaded any documents yet. Drag and drop a document here to
    upload it.
  </td></tr>
  {% endif %}
  </tbody>
</table>

<pre>{{ cert }}</pre>

{% endblock %}
