{% extends "base.html" %}
{% block title %}Documents{% endblock %}
{% block content %}

<div id="drag-drop-overlay">Drop documents here to upload ...</div>

<nav>
<div class="query">Showing <select>
  <option>all documents</option>
</select> ordered by <select>
  <option>identifier</option>
  <option>upload time</option>
  <option>title</option>
</select></div>
<div class="filter"><div class="emoji">🔍</div><input placeholder="Quick filter &hellip;"></div>
</nav>

<table id="documents">
  <thead>
    <tr>
      <th colspan="2" class="sort{% if sort.field == 'identifier' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=identifier{% if not sort.reverse %}&reverse{% endif %}"> 
          Identifier</a></th>
      <th colspan="2" class="sort{% if sort.field == 'title' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=title{% if not sort.reverse %}&reverse{% endif %}"> 
          Title</a></th>
      <th class="sort{% if sort.field == 'added' %}
        active{% endif %}{% if sort.reverse %} reverse{% endif %}">
        <a href="?sort=added{% if not sort.reverse %}&reverse{% endif %}"> 
          Added</a></th>
      <th class="rotate">Judge</th>
      <th class="rotate">Jury</th>
      <th class="rotate">Witness</th>
      <th class="rotate">Delete</th>
    </tr>
  </thead><tbody>
  {% for hash, meta in metadata %}
    <tr>
      <td class="identifier tooltip with-button">
        <div class="tip">{{ hash }}</div>
        {% if meta.identifier %}
        <strong>{{ meta.identifier }}</strong>
      </td><td>
        <button class="edit" data-hash="{{hash}}"
          title="Edit identifier">✏️</button>
        {% else %}
        <code>{{hash|truncate(9)|safe}}</code>
      </td><td>
        <button class="assign" data-arg="MFI" data-hash="{{hash}}"
          title="Magically assign the next identifier">✨</button>
        {% endif %}
      </td>
      <td class="with-button">
        <a href="/files/{{ hash }}">{{ meta.title }}</a>
      </td><td>
        <button class="edit">✏️</button>
      </td>
      <td class="added">
        <span class="date">{{ meta.added | strfdate }}</span><br>
        <span class="time">{{ meta.added | strftime }}</span>
        <span class="tz">{{ meta.added | strftz }}</span>
      </td>
      <td class="matrix {% if 'judge' in meta.published %}published{% endif %}"
        data-hash="{{hash}}" data-user-group="judge"></td>
      <td class="matrix jury {% if 'jury' in meta.published %}published{% endif %}"
        data-hash="{{hash}}" data-user-group="jury"></td>
      <td class="matrix witness {% if 'witness' in meta.published %}published{% endif %}"
        data-hash="{{hash}}" data-user-group="witness"></td>
      <td class="matrix delete" data-hash="{{hash}}"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<pre>{{ cert }}</pre>

{% endblock %}
