{% extends "base.html" %}
{% block title %}Log{% endblock %}

{% block content %}

<nav>
<div class="query">Showing <select>
  <option>all events</option>
</select> in <select>
  <option>reverse chronological</option>
  <option>chronological</option>
</select> order</div>
<div class="filter"><div class="emoji">🔍</div><input placeholder="Quick filter &hellip;"></div>
</nav>

<table id="log">
  <thead> <tr>
    <th>Date</th>
    <th>Time</th>
    <th>User</th>
    <th>Logger</th>
    <th>Event</th>
    <th>Message</th>
  </tr></thead>
  <tbody>
    {% for l in log %}<tr>
      <td class="date">{{ l.timestamp | strptime | strfdate }}</td>
      <td class="time">{{ l.timestamp | strptime | strftime }}</td>
      <td>{{ l.extra.user if l.extra.user else l.ip if l.ip }}</td>
      <td>{{ l.app }}</td>
      <td>{{ l.extra.action if l.extra.action else l.http_status if l.http_status }}</td>
      <td>{{ l.info if l.info else l.warn if l.warn else l.msg }}
        {# <div class="full">{{ l.msg }}</div> #}
      </td>
    </tr>{% endfor %}
  </tbody>
</table>

{% endblock %}
