{% extends "base.html" %}
{% block title %}Log{% endblock %}

{% block submenu %}
<nav id="submenu">
  <a href="#admin">Administrator activity</a>
  <a href="#user">User activity</a>
</nav>
{% endblock %}

{% block content %}

<nav>
<div class="query">Showing <select>
  <option>all events</option>
</select> in <select>
  <option>reverse chronological</option>
  <option>chronological</option>
</select> order</div>
<div class="filter"><div class="emoji">🔍</div><input placeholder="Quick filter &hellip;"></div>
</nav>

<table id="log">
  <thead> <tr>
    <th>Time</th>
    <th>Source</th>
    <th>IP</th>
    <th>HTTP</th>
    <th>Message</th>
  </tr></thead>
  <tbody>
    {% for l in log %}<tr>
      <td>{{ l.timestamp }}</td>
      <td>{{ l.app }}</td>
      <td>{{ l.ip }}</td>
      <td>{{ l.http_status }}</td>
      <td>{{ l.msg }}</td>
      {#<td>{{ l }}</td>#}
    </tr>{% endfor %}
  </tbody>
</table>

{% endblock %}
