<!--  This macro produces a number of columns which can be embedded into either
      the documents page or the settings page. A row is either a document or a
      user; a column is the class of user (eg. admin, judge, jury). The status
      indicates whether the kind of permission determined by the page has been
      granted. -->

{% macro matrix_cell(row, col, status) %}
<td class="matrix" data-row="{{ row }}" data-col="{{ col }}" data-status="{{ status }}"></td>
{% endmacro %}

{% macro matrix_row(page, row_id, cell_status) %}

{% if page == 'settings' %}
{{ matrix_cell(row_id, 'admin', false) }}
{% endif %}

{{ matrix_cell(row_id, 'judge', false) }}
{{ matrix_cell(row_id, 'jury', false) }}
{{ matrix_cell(row_id, 'witness', false) }}
<td class="matrix delete" data-row="{{ row_id }}" data-col="delete"></td>

{% endmacro %}
