{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block submenu %}
<nav id="submenu">
  <a href="#matter">Matter</a>
  <a href="#encryption">Encryption</a>
  <a href="#users">Users</a>
  <a href="#backups">Backups</a>
  <a href="#backups">Help</a>
</nav>
{% endblock %}

{% block content %}

<h2>Matter details</h2>

<form action="/admin/create/admin-user" method="post">
  <input name="name" placeholder="Set matter name ...">
  <button type="submit">Save</button>
</form>

<h2>Secure filesystem</h2>

<p>The system was decrypted at (time) by (user).</p>

<h2>Users</h2>

<h3>Create new admin user</h3>
<form action="/admin/create/admin-user" method="post">
  <input name="name" placeholder="Enter user's full name ...">
  <button type="submit">Create new administrative user</button>
</form>

<h2>Limited users</h2>

<p>These users are able to access their group's publication folder over SSH.
They cannot access any other group's publication folder or modify any files.
Generally, an administrative user would assist them to configure an iOS device
running PDF Expert or similar software to connect to the publication folder
using the SSH key.</p>

<table id="limited-users">
  <tr>
    <th>User</th>
    <th>Group</th>
    <th>Delete</th>
  </tr>
  {% for key in keys %}
  <tr>
    <td>{{ key }}</td>
    <td>Jury</td>
    <td><button class="delete">Delete</button></td>
  </tr>
  {% endfor %}
</table>

<h3>Create new limited user</h3>
<form action="/admin/create/limited-user" method="post">
  <input name="name" placeholder="Enter user's full name ...">
  <button type="submit">Create new administrative user</button>
</form>

{% endblock %}
